{% extends "base.html" %}
{% load static %}

{% block title %}About Us | ShopNest{% endblock %}
{% comment %} {% block css_files %}
    <link rel="stylesheet" href="{% static "about.css" %}">
{% endblock  %} {% endcomment %}

{% block content %}
<section class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>About Us</h1>
                    <p class="mb-4">Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>
 
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="{% static "images/couch.png" %}" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6">
                <h2 class="section-title">Why Choose Us</h2>
                <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.</p>

                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="{% static "images/truck.svg" %}" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Fast &amp; Free Shipping</h3>
                            <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="{% static "images/bag.svg" %}" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Easy to Shop</h3>
                            <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="{% static "images/support.svg" %}" alt="Image" class="imf-fluid">
                            </div>
                            <h3>24/7 Support</h3>
                            <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="{% static "images/return.svg" %}" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Hassle Free Returns</h3>
                            <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="{% static "images/why-choose-us-img.jpg" %}" alt="Image" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</section>


		<!-- Start Team Section -->
		<section class="untree_co-section">
			<div class="container">

				<div class="row mb-5">
					<div class="col-lg-5 mx-auto text-center">
						<h2 class="section-title">Our Team</h2>
					</div>
				</div>

				<div class="row">

					{% for member in members %}
					<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
						<img src="{{member.image.url}}" class="img-fluid mb-5" alt="{{member.name}}">
						<h3 clas><a href="#"><span class="">{{member.name}}</a></h3>
                        <span class="d-block position mb-4">{{member.designation}}</span>
                        <p>{{member.headline}}</p>
            
					</div>
                    {% endfor %}
					

				</div>
			</div>
		</section>


{% endblock  %}