{% extends "base.html" %}

{% load static %}

{% block title %}
    Sign in | ShopNest
{% endblock  %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "login.css" %}">
{% endblock  %}

{% block content %}
   <div id="login">
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        {% if error_message %}
        <p>{{error_message}}</p>
        {% endif %}
        {% for field in form  %}
            <div>
                {{field}}</div>
        {% endfor %}

        <button type="submit" >Login</button>
       <p class="alt">Dont have an Account? <a href="{% url 'signup' %}">Create</a></p> 
    </form>
   </div>
   {% endblock  %}
   {% block script_files %}
   <script>
    {% if request.method == 'POST' and not error_message %}
        Swal.fire({
            icon: 'success',
            title: 'Login Successful!',
            text: 'You have been successfully logged in.',
            showConfirmButton: false,
            timer: 1500
        });
        setTimeout(function() {
            window.location.href = "/";
        }, 1000)
    {% endif %}
</script>
{% endblock  %}
