{% extends "base.html" %}

{% block title %}Payment{% endblock  %}

{% block content %}
<p>Payment Processing...</p>
<form method="POST">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
    var options = {
        key: "{{razorpay_key}}",
        amount: "{{order.amount}}", 
        currency: "INR",
        name: "{{order.name}}",
        description: "Test Transaction",
        image: "https://imgur.com/NOWiBu9",
        order_id: "{{order.provider_order_id}}",
        callback_url: "{{callback_url}}",
        redirect: true,
        prefill: {
            "name": "{{user.first_name}}",
            "email": "{{user.first_name}}@gmail.com",
            "contact": "{{user.phone_number}}"
        },
        notes: {
            "address": "{{user.address}}"
        },
        theme: {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
    </script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>
{% endblock  %}